---
title: Publish and update your service tile for <%= vars.platform_name %> products
owner: Services
---

You can publish and update your service tile for <%= vars.platform_name %>.

## <a id="publish"></a> Publish your service tile

After you have packaged your tile, upload it on [ISV Tile Dashboard](https://auth.isv.ci).
Click the Documentation tab on the ISV Tile Dashboard for further instructions for publishing product releases.

## <a id="update"></a> Update your service tile

Most tile updates originate with the tile developer, but new releases of <%= vars.platform_name %> can also necessitate tile changes
to maintain compatibility with the current version of the platform.

* Tile Generator automates tile versioning and upgrades.
For more information, see [Versioning](./tile-generator.html#versioning) in the Tile Generator documentation.

* See [Tile Upgrades](./tile-upgrades.html) for how to write and include a JavaScript file that automates tile upgrades
by migrating property names and values from one tile version to another.

* When changes to <%= vars.platform_name %> require tile changes, <%= vars.company_name %> distributes instructions to all of its partners through the Partners Release Notice:
    * [<%= vars.ops_manager %> Partners Release Notes](./release-notes.html)
